!---------------------------------------------------
! urxvt config settings
!---------------------------------------------------
*geometry:         80x21

URxvt*font:              xft:Ubuntu Mono:size=12:antiajias=false:hinting=false:autohint=false
URxvt*boldFont:          xft:Ubuntu Mono:bold:size=12:antialias=false:hinting=false:autohint=false

! URxvt*font:              -ypn-envypn-medium-r-normal--13-130-75-75-c-90-iso8859-1
! URxvt*boldFont:          -ypn-envypn-medium-r-normal--13-130-75-75-c-90-iso8859-1

URxvt.savelines:        500
URxvt*scrollBar:        false

! do not scroll with output
URxvt*scrollTtyOutput:  false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! scroll a single line
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007

! clipboard management
URxvt.perl-ext-common:  default,clipboard
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste

! dzen2
dzen2.font:       monospace:pixelsize=10
dzen2.foreground: #a0a0a0
dzen2.background: #262626

!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                    96
Xft.antialias:              false
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

!-------------------------------------------------------------------------------
! URxvt settings
! Colours lifted from Solarized (http://ethanschoonover.com/solarized)
! More info at:
! http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod
!-------------------------------------------------------------------------------

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.transparent:          false
URxvt.fading:               0
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.saveLines:            50
URxvt.internalBorder:       3
URxvt.lineSpace:            0

! Fonts
URxvt.allow_bold:           false
/* URxvt.font:                 -*-terminus-medium-r-normal-*-12-120-72-72-c-60-iso8859-1 */
URxvt*font: xft:Monospace:pixelsize=12
URxvt*boldFont: xft:Monospace:pixelsize=12

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,matcher
URxvt.matcher.button:       1
URxvt.urlLauncher:          google-chrome

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

!!Source http://github.com/altercation/solarized
+*.cursorColor:  #b3bdcb
+*.background: #404552
+*.foreground: #b3bdcb
+! Black + DarkGrey
+*.color0:  #404552
+*.color8:  #2a303b
+! DarkRed + Red
+*.color1:  #cc575d
+*.color9:  #a3464a
+! DarkGreen + Green
+*.color2:  #2679db
+*.color10: #75a9e8
+! DarkYellow + Yellow
+*.color3:  #b3bdcb
+*.color11: #CAD1DB
+! DarkBlue + Blue
+*.color4:  #5294e2
+*.color12: #97bfee
+! DarkMagenta + Magenta
+*.color5:  #404552
+*.color13: #686d79
+! DarkCyan + Cyan
+*.color6:  #b3bdcb
+*.color14: #383c4a
+! LightGrey + White
+*.color7:  #E1E5EA
+*.color15: #ffffff
+! for 256 color stuff
+*.color24:  #076678
+*.color66:  #427b58
+*.color88:  #9d0006
+*.color96:  #8f3f71
+*.color100: #79740e
+*.color108: #8ec07c
+*.color109: #83a598
+*.color130: #af3a03
+*.color136: #b57614
+*.color142: #b8bb26
+*.color167: #fb4934
+*.color175: #d3869b
+*.color208: #fe8019
+*.color214: #fabd2f
+*.color223: #ebdbb2
+*.color228: #f4e8ba
+*.color229: #fdf4c1
+*.color230: #ffffc8
+*.color234: #1d2021
+*.color235: #404552
+*.color236: #32302f
+*.color237: #3c3836
+*.color239: #504945
+*.color241: #665c54
+*.color243: #7c6f64
+*.color244: #928374
+*.color245: #928374
+*.color246: #a89984
+*.color248: #bdae93
+*.color250: #d5c4a1
