!---------------------------------------------------
! urxvt config settings
!---------------------------------------------------
*geometry:         80x21


URxvt.font:xft:FantasqueSansMono:pixelsize=15
URxvt.boldfont:xft:FantasqueSansMono-Bold:pixelsize=15

URxvt.font:xft:iosevka:pixelsize=15
URxvt.boldfont:xft:iosevka-bold:pixelsize=15

!URxvt.letterSpace: -1
!
URxvt.savelines:        500
URxvt*scrollBar:        false
!
!! do not scroll with output
!URxvt*scrollTtyOutput:  false
!
!! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
!
!! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true
!
!! scroll a single line
!URxvt.keysym.Shift-Up: command:\033]720;1\007
!URxvt.keysym.Shift-Down: command:\033]721;1\007
!
!! clipboard management

!URxvt.perl-lib: $HOME/.urxvt/ext/

URxvt.perl-ext-common:  default,clipboard,font-size
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal
URxvt.keysym.C-equal:  perl:font-size:reset
URxvt.keysym.C-slash:  perl:font-size:show

! dzen2
dzen2.font:       monospace:pixelsize=10
dzen2.foreground: #a0a0a0
dzen2.background: #262626

/* Rofi */
#define r_bg   #1d2021
#define r_fg   #ebdbb2
#define r_hlfg #d65d0e

!States: bg, fg, bgalt, hlbg, hlfg
!rofi.color-enabled: true
!rofi.color-normal: r_bg,r_fg,#282828,r_bg,r_hlfg
!rofi.color-urgent: r_bg,#fb4934,#282828,r_bg,r_hlfg
!rofi.color-active: r_bg,r_fg,#282828,r_bg,#fe8019
!! states: background, border
!rofi.color-window: r_bg,#d5c4a1
!
!rofi.separator-style: solid
!rofi.sidebar-mode: true
!rofi.bw: 1
!rofi.columns: 1
!rofi.padding: 16
!
!rofi.yoffset: 0
!rofi.opacity: 80
!rofi.fake-transparency: false
!rofi.location: 0
!rofi.width: 50
!rofi.font: RobotoMono 12
!rofi.lines: 15
!
!rofi.padding: 350
!rofi.fullscreen: true
!rofi.terminal: termite
!rofi.font: Inconsolata 30
!rofi.color-window: rgb:1d1f21, rgb:1d1f21, #1d1f21
!rofi.color-normal: rgb:F6F9FF, #4A5466, rgb:F6F9FF, rgb:F6F9FF, #b7672d
!rofi.separator-style: none

!rofi.width: 900
!rofi.padding: 400
!rofi.fullscreen: true
!rofi.terminal: termite
!rofi.lines: 9
!rofi.font: Hack 16
!rofi.color-window: argb:ee2B303B, argb:AA181818, #1818181
!rofi.color-normal: argb:00BF616A, #8FA1B3, argb:00BF616A, argb:00BF616A, #BF616A
!rofi.separator-style: none
!Xft.dpi: 155
Xcursor.theme: OSX-ElCap
Xcursor.size: 20
!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

!-------------------------------------------------------------------------------
! Urxvt settings
!-------------------------------------------------------------------------------

URxvt*scrollBar:	false 

! Base16 Default Dark
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #181818
#define base01 #282828
#define base02 #383838
#define base03 #585858
#define base04 #b8b8b8
#define base05 #d8d8d8
#define base06 #e8e8e8
#define base07 #f8f8f8
#define base08 #ab4642
#define base09 #dc9656
#define base0A #f7ca88
#define base0B #a1b56c
#define base0C #86c1b9
#define base0D #7cafc2
#define base0E #ba8baf
#define base0F #a16946

URxvt*foreground:   base05
#ifdef background_opacity
URxvt*background:   [background_opacity]base00
#else
URxvt*background:   base00
#endif
URxvt*cursorColor:  base05

URxvt*color0:       base00
URxvt*color1:       base08
URxvt*color2:       base0B
URxvt*color3:       base0A
URxvt*color4:       base0D
URxvt*color5:       base0E
URxvt*color6:       base0C
URxvt*color7:       base05

URxvt*color8:       base03
URxvt*color9:       base08
URxvt*color10:      base0B
URxvt*color11:      base0A
URxvt*color12:      base0D
URxvt*color13:      base0E
URxvt*color14:      base0C
URxvt*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
URxvt*color16:      base09
URxvt*color17:      base0F
URxvt*color18:      base01
URxvt*color19:      base02
URxvt*color20:      base04
URxvt*color21:      base06

